.header {
    z-index: 10;
    border-bottom: 0.4px solid var(--white, #E1E1E1);
    &__in {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-top: vw(23);
        padding-bottom: vw(23);
        @media all and (max-width: 1023px) {
            padding-top: 16px;
            padding-bottom: 16px;
        }
    }
    &__logo {
        max-width: vw(166);
        width: 100%;
        margin-right: vw(115);
        @media all and (max-width: 1023px) {
            max-width: 87px;
        }
    }
    &__info {
        display: flex;
        align-items: center;
        width: 100%;
        justify-content: space-between;
    }
    &__menu {
        padding-right: vw(16);
        ul {
            display: flex;
            align-items: center;
            list-style: none;
            margin: 0;
            padding: 0;
            li {
                a {
                    color: var(--Black, #313132);
                    font-family: 'Gilroy', sans-serif, cursive;
                    font-size: vw(16);
                    font-style: normal;
                    font-weight: 400;
                    text-decoration: none;
                    display: inline-block;
                    line-height: 140%;
                    margin-right: vw(32);
                    &:hover {
                        color: #E40038;
                    }
                }
            }
        }
    }
    &__btn {
        color: var(--Black, #fff);
        text-align: center;
        font-family: 'Gilroy', sans-serif, cursive;
        font-size: vw(16);
        font-style: normal;
        border: 0;
        font-weight: 500;
        line-height: 100%;
        border-radius: 8px;
        border: 1px solid var(--light-grey-line, #E40038);
        cursor: pointer;
        background: #E40038;
        padding: vw(16) vw(24);
        max-width: vw(209);
        width: 100%;
        span {
            pointer-events: none;
            display: inline-block;
            padding-left: vw(36);
            position: relative;
            &:before {
                width: vw(24);
                height: vw(24);
                content: '';
                position: absolute;
                left: 0;
                margin-top: vw(-12);
                top: 50%;
                background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none'%3E%3Cpath d='M20 21C20 19.6044 20 18.9067 19.8278 18.3389C19.44 17.0605 18.4395 16.06 17.1611 15.6722C16.5933 15.5 15.8956 15.5 14.5 15.5H9.5C8.10444 15.5 7.40665 15.5 6.83886 15.6722C5.56045 16.06 4.56004 17.0605 4.17224 18.3389C4 18.9067 4 19.6044 4 21M16.5 7.5C16.5 9.98528 14.4853 12 12 12C9.51472 12 7.5 9.98528 7.5 7.5C7.5 5.01472 9.51472 3 12 3C14.4853 3 16.5 5.01472 16.5 7.5Z' stroke='white' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E") 50% / 100% no-repeat;
            }
        }
        &:hover {
            background: transparent;
            color: #E40038;
            span {
                &:before {
                    background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none'%3E%3Cpath d='M20 21C20 19.6044 20 18.9067 19.8278 18.3389C19.44 17.0605 18.4395 16.06 17.1611 15.6722C16.5933 15.5 15.8956 15.5 14.5 15.5H9.5C8.10444 15.5 7.40665 15.5 6.83886 15.6722C5.56045 16.06 4.56004 17.0605 4.17224 18.3389C4 18.9067 4 19.6044 4 21M16.5 7.5C16.5 9.98528 14.4853 12 12 12C9.51472 12 7.5 9.98528 7.5 7.5C7.5 5.01472 9.51472 3 12 3C14.4853 3 16.5 5.01472 16.5 7.5Z' stroke='%23E40038' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E") 50% / 100% no-repeat;
                }
            }
        }
        &:active {
            background: #BC0A10;
            border-color: #BC0A10;
            color: #fff;
            span {
                &:before {
                    background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none'%3E%3Cpath d='M20 21C20 19.6044 20 18.9067 19.8278 18.3389C19.44 17.0605 18.4395 16.06 17.1611 15.6722C16.5933 15.5 15.8956 15.5 14.5 15.5H9.5C8.10444 15.5 7.40665 15.5 6.83886 15.6722C5.56045 16.06 4.56004 17.0605 4.17224 18.3389C4 18.9067 4 19.6044 4 21M16.5 7.5C16.5 9.98528 14.4853 12 12 12C9.51472 12 7.5 9.98528 7.5 7.5C7.5 5.01472 9.51472 3 12 3C14.4853 3 16.5 5.01472 16.5 7.5Z' stroke='white' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E") 50% / 100% no-repeat;
                }
            }
        }
    }
    &__burger {
        display: none;
        @media all and (max-width: 1023px) {
            display: block;
        }
        &--icon {
            width: 32px;
            height: 32px;
            cursor: pointer;
            background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='32' height='33' viewBox='0 0 32 33' fill='none'%3E%3Cpath d='M4 16.5H28M4 8.5H28M12 24.5H28' stroke='%23E40038' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E") 50% / 100% no-repeat;
        }
        &--top {
            display: flex;
            align-items: center;
            justify-content: space-between;
            background: var(--white, #FFF);
            padding: 16px;
        }
        &--close {
            width: 32px;
            height: 32px;
            background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='32' height='32' viewBox='0 0 32 32' fill='none'%3E%3Cpath d='M24 8L8 24M8 8L24 24' stroke='%23E40038' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E") 50% / 100% no-repeat;
            cursor: pointer;
        }
        &--logo {
            max-width: 87px;
            width: 100%;
            display: block;
            text-decoration: none;
        }
        &--body {
            overflow: auto;
            width: 100%;
            position: fixed;
            z-index: 10;
            right: -100%;
            top: 0;
            max-height: 100%;
            border-radius: 0px 0px 8px 8px;
            background: var(--light-grey, #F6F7F9);
        }
        &.isOpened {
            &:before {
                content: '';
                position: fixed;
                top: 0;
                left: 0;
                bottom: 0;
                right: 0;
                width: 100%;
                height: 100%;
                background: rgba(0, 0, 0, 0.60);
                z-index: 9;
            }
            .header__burger--body {
                right: 0;
            }
        }
        &--item {
            padding: 24px 16px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            border-radius: 0px 0px 8px 8px;
        }
        &--menu {
            padding-bottom: 24px;
            > ul {
                list-style: none;
                margin: 0;
                padding: 0;
                display: flex;
                flex-wrap: wrap;
                flex-direction: column;
                > li {
                    &:not(:last-child) {
                        margin-bottom: 24px;
                    }
                    > a {
                        color: var(--Black, #666);
                        font-family: 'Gilroy', sans-serif, cursive;
                        font-size: 16px;
                        font-style: normal;
                        font-weight: 500;
                        text-decoration: none;
                        &:hover {
                            color: #1AD079;
                        }
                    }
                }
            }
        }
        &--btn {
            color: var(--Black, #fff);
            text-align: center;
            font-family: 'Gilroy', sans-serif, cursive;
            font-size: 16px;
            font-style: normal;
            border: 0;
            font-weight: 500;
            line-height: 100%;
            border-radius: 8px;
            border: 1px solid var(--light-grey-line, #E40038);
            cursor: pointer;
            background: #E40038;
            padding: 16px 24px;
            max-width: 340px;
            width: 100%;
            span {
                pointer-events: none;
                display: inline-block;
                padding-left: 36px;
                position: relative;
                &:before {
                    width: 24px;
                    height: 24px;
                    content: '';
                    position: absolute;
                    left: 0;
                    margin-top: -12px;
                    top: 50%;
                    background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none'%3E%3Cpath d='M20 21C20 19.6044 20 18.9067 19.8278 18.3389C19.44 17.0605 18.4395 16.06 17.1611 15.6722C16.5933 15.5 15.8956 15.5 14.5 15.5H9.5C8.10444 15.5 7.40665 15.5 6.83886 15.6722C5.56045 16.06 4.56004 17.0605 4.17224 18.3389C4 18.9067 4 19.6044 4 21M16.5 7.5C16.5 9.98528 14.4853 12 12 12C9.51472 12 7.5 9.98528 7.5 7.5C7.5 5.01472 9.51472 3 12 3C14.4853 3 16.5 5.01472 16.5 7.5Z' stroke='white' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E") 50% / 100% no-repeat;
                }
            }
            &:hover {
                background: transparent;
                color: #E40038;
                span {
                    &:before {
                        background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none'%3E%3Cpath d='M20 21C20 19.6044 20 18.9067 19.8278 18.3389C19.44 17.0605 18.4395 16.06 17.1611 15.6722C16.5933 15.5 15.8956 15.5 14.5 15.5H9.5C8.10444 15.5 7.40665 15.5 6.83886 15.6722C5.56045 16.06 4.56004 17.0605 4.17224 18.3389C4 18.9067 4 19.6044 4 21M16.5 7.5C16.5 9.98528 14.4853 12 12 12C9.51472 12 7.5 9.98528 7.5 7.5C7.5 5.01472 9.51472 3 12 3C14.4853 3 16.5 5.01472 16.5 7.5Z' stroke='%23E40038' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E") 50% / 100% no-repeat;
                    }
                }
            }
            &:active {
                background: #BC0A10;
                border-color: #BC0A10;
                color: #fff;
                span {
                    &:before {
                        background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none'%3E%3Cpath d='M20 21C20 19.6044 20 18.9067 19.8278 18.3389C19.44 17.0605 18.4395 16.06 17.1611 15.6722C16.5933 15.5 15.8956 15.5 14.5 15.5H9.5C8.10444 15.5 7.40665 15.5 6.83886 15.6722C5.56045 16.06 4.56004 17.0605 4.17224 18.3389C4 18.9067 4 19.6044 4 21M16.5 7.5C16.5 9.98528 14.4853 12 12 12C9.51472 12 7.5 9.98528 7.5 7.5C7.5 5.01472 9.51472 3 12 3C14.4853 3 16.5 5.01472 16.5 7.5Z' stroke='white' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E") 50% / 100% no-repeat;
                    }
                }
            }
        }
    }
}