.main_money {
    padding-top: vw(36);
    padding-bottom: vw(72);
    @media all and (max-width: 1023px) {
        padding-top: 28px;
        padding-bottom: 56px;
    }
    &__item {
        display: flex;
        justify-content: space-between;
        align-items: center;
        @media all and (max-width: 1023px) {
            flex-direction: column;
        }
    }
    &__l-side {
        width: calc(50% - vw(45));
        @media all and (max-width: 1023px) {
            width: 100%;
            margin-bottom: 32px;
        }
    }
    &__title {
        color: var(--Black, #313132);
        font-family: 'Gilroy', sans-serif, cursive;
        font-size: vw(40);
        font-style: normal;
        font-weight: 700;
        line-height: 120%;
        margin-bottom: vw(8);
        @media all and (max-width: 1023px) {
            margin-bottom: 8px;
            font-size: 32px;
        }
    }
    &__subtitle {
        color: var(--Darck-grey, #666);
        font-family: 'Gilroy', sans-serif, cursive;
        font-size: vw(16);
        font-style: normal;
        font-weight: 500;
        line-height: 24px;
        margin-bottom: vw(32);
        @media all and (max-width: 1023px) {
            font-size: 16px;
            margin-bottom: 24px;
        }
    }
    &__blocks {
        display: flex;
        flex-wrap: wrap;
        margin-left: vw(-8);
        margin-right: vw(-8);
        @media all and (max-width: 1023px) {
            margin-left: -8px;
            margin-right: -8px;
        }
    }
    &__block {
        margin-left: vw(8);
        margin-right: vw(8);
        margin-bottom: vw(16);
        border-radius: 8px;
        background: var(--white, #FFF);
        box-shadow: 0px 15px 35px 0px rgba(0, 0, 0, 0.05);
        width: calc(25% - vw(16));
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 0;
        height: vw(86);
        @media all and (max-width: 1023px) {
            height: 100px;
            margin-left: 8px;
            margin-right: 8px;
            width: calc(50% - 16px);
            margin-bottom: 16px;
        }
    }
    &__btn {
        margin-top: vw(16);
        color: var(--white, #FFF);
        font-family: 'Gilroy', sans-serif, cursive;
        font-size: vw(16);
        text-align: center;
        font-style: normal;
        cursor: pointer;
        font-weight: 600;
        line-height: normal;
        border-radius: 5px;
        background: var(--Red, #E40038);
        box-shadow: 0px 15px 35px 0px rgba(0, 0, 0, 0.05);
        padding: vw(19);
        width: 100%;
        border: 1px solid var(--Red, #E40038);
        &:hover {
            color: #E40038;
            background: transparent;
        }
        &:active {
            background: #BC0A10;
            border-color: #BC0A10;
            color: #fff;
        }
        @media all and (max-width: 1023px) {
            font-size: 16px;
            padding: 19px;
            margin-top: 16px;
        }
    }
    &__r-side {
        width: calc(50% - vw(45));
        font-size: 0;
        @media all and (max-width: 1023px) {
            width: 100%;
        }
        img {
            width: 100%;
            height: 100%;
            object-fit: contain;
        }
    }
}