.main_questions {
    padding-top: vw(36);
    padding-bottom: vw(72);
    @media all and (max-width: 1023px) {
        padding-top: 56px;
        padding-bottom: 56px;
    }
    &__title {
        color: var(--Black, #313132);
        font-family: 'Gilroy', sans-serif, cursive;
        font-size: vw(40);
        font-style: normal;
        font-weight: 700;
        line-height: 120%;
        margin-bottom: vw(32);
        @media all and (max-width: 1023px) {
            margin-bottom: 24px;
            font-size: 32px;
        }
    }
    &__items {
        display: flex;
        justify-content: space-between;
        @media all and (max-width: 1023px) {
            flex-direction: column;
        }
    }
    &__l-side {
        width: calc(50% - vw(8));
        @media all and (max-width: 1023px) {
            width: 100%;
        }
    }
    &__block {
        border-radius: 8px;
        border: 1px solid var(--Light-gray-2, #E1E1E1);
        background: var(--light-grey, #F6F7F9);
        cursor: pointer;
        @media all and (max-width: 1023px) {
            margin-bottom: 16px;
        }
        &:not(:last-child) {
            margin-bottom: vw(16);
            @media all and (max-width: 1023px) {
                margin-bottom: 16px;
            }
        }
        &.isActive {
            padding-left: 0;
            .main_questions__answer {
                display: block;
            }
            .main_questions__question {
                background: var(--Light-gray-2, #E1E1E1);
                color: var(--Red, #E40038);
                &:before {
                    background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='32' height='32' viewBox='0 0 32 32' fill='none'%3E%3Cpath d='M6.66797 16H25.3346' stroke='%23E40038' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E") 50% no-repeat;
                }
            }
        }
    }
    &__question {
        color: var(--Black, #313132);
        font-family: 'Gilroy', sans-serif, cursive;
        font-size: vw(24);
        font-style: normal;
        font-weight: 400;
        line-height: 140%;
        position: relative;
        padding: vw(24) vw(16);
        padding-right: vw(50);
        @media all and (max-width: 1023px) {
            font-size: 16px;
            padding: 16px;
            padding-right: 25px;
        }
        &:before {
            content: '';
            position: absolute;
            right: vw(16);
            top: 50%;
            width: vw(32);
            height: vw(32);
            margin-top: vw(-16);
            background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='32' height='32' viewBox='0 0 32 32' fill='none'%3E%3Cpath d='M15.9993 6.66669V25.3334M6.66602 16H25.3327' stroke='%23E40038' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E") 50% / 100% no-repeat;
            @media all and (max-width: 1023px) {
                width: 32px;
                height: 32px;
                margin-top: -16px;
                right: 16px;
            }
        }
    }
    &__answer {
        color: var(--Black, #313132);
        font-family: 'Gilroy', sans-serif, cursive;
        font-size: vw(16);
        font-style: normal;
        font-weight: 400;
        line-height: 140%;
        display: none;
        padding: vw(24) vw(16);
        * {
            font-family: 'Gilroy', sans-serif, cursive;
            font-size: vw(16);
            font-style: normal;
            font-weight: 400;
            line-height: 160%;
            @media all and (max-width: 1023px) {
                font-size: 16px;
            }
        }
        @media all and (max-width: 1023px) {
            padding: 24px 16px;
            font-size: 16px;
        }
        p {
            &:first-child {
                margin-top: 0;
            }
            &:last-child {
                margin-bottom: 0;
            }
        }
    }
    &__r-side {
        width: calc(50% - vw(8));
        @media all and (max-width: 1023px) {
            width: 100%;
        }
    }
}