<footer class="footer">
    <div class="footer__in center_block">
        <div class="footer__top">
            <div class="footer__logo">
                <img src="./img/logo.svg" alt="">
            </div>
            <div class="footer__info" v-if="sizes.window <= 1023">
                <a href="mailto:doc@creditsmile.ru" class="footer__mail">info@zanimali.ru</a>
                <div class="footer__work">Обработка заявок на заём — 24/7 без выходных</div>
                <button class="footer__btn" data-modal-id="2">Отписаться от рассылки</button>
            </div>
            <nav class="footer__menu">
                <ul>
                    <li><a href="#main_form">Калькулятор</a></li>
                    <li><a href="#main_why">Преимущества</a></li>
                    <li><a href="#main_reviews">Отзывы</a></li>
                    <li><a href="#main_money">Как получить</a></li>
                    <li><a href="#main_questions">Вопросы и ответы</a></li>
                </ul>
            </nav>
        </div>
        <div class="footer__info" v-if="sizes.window >= 1023">
            <button class="footer__btn" data-modal-id="2">Отписаться от рассылки</button>
            <a href="mailto:doc@creditsmile.ru" class="footer__mail">info@zanimali.ru</a>
            <div class="footer__work">Обработка заявок на заём — 24/7 без выходных</div>
        </div>
        <div class="footer__text">Деятельность осуществляет Общество с ограниченной ответственностью Микрокредитная компания «Чемергес», которая состоит в государственном реестре микрофинансовых организаций от 20.03.2020 за номером 2003465009573. Является участником СРО Союз Микрофинансовый Альянс «Институты развития малого и среднего бизнеса» дата вступления 18.06.2020 г. Адрес место нахождения СРО: г. Москва, ул. Сущёвская, д. 21 этаж / офис 5/513,514 Выдача микрозаймов онлайн осуществляется 24/7 без перерывов и выходных. ООО МКК «ЧЕМЕРГЕС» ИНН:6685171911, ОГРН: 1206600009153 № 2003465009573 Адрес: 443011, г. Самара ул. Ново-Садовая д. 307А, этаж 6, помещение 5</div>
        <div class="footer__bottom">
            <div class="footer__copy">© 2022 ® CreditSmile. Все права защищены.</div>
            <a href="#" class="footer__link">Пользовательское соглашение и политика конфеденциальности</a>
        </div>
    </div>
</footer>